
Linux-Basics/.vagrant/machines/default/virtualbox/action_provision

Linux-Basics/.vagrant/machines/default/virtualbox/action_set_name

Linux-Basics/.vagrant/machines/default/virtualbox/id

Linux-Basics/.vagrant/machines/default/virtualbox/creator_uid

Linux-Basics/.vagrant/machines/default/virtualbox/private_key

Linux-Basics/.vagrant/machines/default/virtualbox/synced_folders

Linux-Basics/.vagrant/machines/default/virtualbox/index_uuid
