{% extends 'base.html' %}
{% block content %}
    <!--================================PAGE TITLE==========================================-->
    <div class="page-title-wrap padding-top-30 margin-bottom-10"><!-- section title -->
        <div class="container">
            <div class="pagetitle-text">
                <h4 class="white">{{ category.name }}</h4>
            </div>
            <div class="pagetitle-text pull-right" style="margin-left:10px; ">
                <a class="crud-btn" style="background-color:#f44336"
                   href="{{ url_for('del_cat',cat_id = category.id) }}">Delete</a>
            </div>
            <div class="pagetitle-text pull-right">
                <a class="crud-btn"
                   href="{{ url_for('edit_cat',cat_id = category.id) }}">Edit</a>
            </div>

            <div class="pagetitle-text pull-right" style="margin-right:10px; ">
                <a class="crud-btn"
                   href="{{ url_for('add_item') }}">New Item</a>
            </div>

        </div>
    </div><!-- section title end -->

    {{ super() }}
    {% if (category.items | length) == 0 %}
        <h3>No Items found.</h3>
    {% endif %}
    <!--================================LISTING SECTION ==========================================-->
    <section class="sidebar-layout padding-bottom-70">
        <div class="container">
            <div class="row"><!-- row -->
                <!--================================CATEGORY SECTION ==========================================-->
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right"><!-- row -->
                    <div class="listing-section">
                        <div class="add-listing-wrapper">
                            <div class="listing-main listview tab-content">
                                <div id="latest-listing" class="tab-pane active">
                                    <div class="listing-wrapper style-2 row">
                                        {% for item in category.items %}
                                            <div class="item col-md-12 col-sm-6 col-xs-12"><!-- .ITEM -->
                                                <div class="listing-item shadow-1 clearfix">

                                                    <div class="listing-content list-style-content clearfix">
                                                        <div class="listing-title">
                                                            <h6>{{ item.name }}</h6>
                                                        </div>
                                                        <hr>
                                                        <div class="listing-disc" style="overflow: hidden">
                                                            <pre>{{ item.description }}</pre>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="star-rating pull-right"><!-- rating-->
                                                    <div class="search-form-wrap2" style="padding: 5px 20px 5px 20px;background-color: #ebc131;">
                                                        <a href="{{ url_for('view_item',cat_id=category.id,item_id=item.id) }}" style="color:#f5f5f5" class="button search-form-submit">Read More</a>
                                                    </div>
                                                </div><!-- rating end-->

                                            </div><!-- /.ITEM -->

                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- content end -->
            </div><!-- row end -->
        </div>
    </section>


{% endblock %}