{% extends 'base.html' %}
{% block content %}
    <!--================================ STATIC HEADER SECTION==========================================-->
    <section class="static-section">
        <div class="container">
            <div class="static-header-content">
                <div class="static-header-text">
                    <h1 class="white">Hello<span> World</span></h1>
                    <h3 class="white margin-bottom-30">Can you foo bar?</h3>
                    <div class="search-form-wrap2" style="width: 20%;display: block;margin: auto;padding: 10px">
                        <a href="{{ url_for('view_categories') }}" class="button search-form-submit">Browse Categories</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}