@charset "utf-8";
/* CSS Document */

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	PRODUCT NAME : LISTING - DIRECTORY LISTING HTML TEMPLATE
	AUTOR        : Muqadass Aleem , Muhammad Asif
--------------------------------------------------------------------------------------------------------------------------------
*/
/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	CSS INDEX

	01 RESET
	02 TYPOGRAPHY
	03 GENERAL
	04 MAIN HEADER
	05 HEADER TOOLBAR
	06 MAIN NAVBAR
	07 SEARCH FORM
	07 CATEGORY
	08 FEATURE LISTING
	09 LISTING
	10 BLOG
	11 SOCIAL
	12 BUTTONS
	13 FUNFACTS
	14 SLIDEBAR
	15 CONTACT
	16 GOOGLE MAP
	17 FOOTER
	18 CAROUSEL
	19 BLOG PAGES
	20 ERROR 404 PAGE
	21 LISTING SINGLE PAGE
	22 LOGIN/ REGITER MODAL WINDOWS


--------------------------------------------------------------------------------------------------------------------------------
*/

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	 RESET
--------------------------------------------------------------------------------------------------------------------------------
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

pre {
    white-space: pre-line;
    background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,  menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
    overflow-x: hidden;
}

html {
    position: relative;
    overflow-x: hidden;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body > div > a {
    transition: all 0.3s ease;
}

:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a {
    display: block;
}

img {
    display: block;
}

img {
    max-width: 100%;
}

.clear {
    clear: both;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	 TYPOGRAPHY
--------------------------------------------------------------------------------------------------------------------------------
*/
body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    letter-spacing: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-family: 'Montserrat';
    font-size: 14px;
    padding: 0;
    font-weight: 400;
    text-align: center;
    margin: 0;
    line-height: 1.6;
    text-decoration: none;
}

a, span, ul, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 0;
    font-weight: 400;
    text-align: center;
    margin: 0;
    line-height: 1.6;
    text-decoration: none !important;
}

p, span, a {
    padding: 0;
}

a:focus {
    outline: 0;
}

.tx-center {
    text-align: center;
}

.tx-left {
    text-align: left;
}

.tx-right {
    text-align: right;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	 GENERAL STYLING
--------------------------------------------------------------------------------------------------------------------------------
*/
/* PADDING BOTTOM */
.container, .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.padding-bottom-150 {
    padding-bottom: 150px;
}

.padding-bottom-200 {
    padding-bottom: 200px;
}

.padding-bottom-250 {
    padding-bottom: 250px;
}

.padding-bottom-270 {
    padding-bottom: 270px;
}

/* PADDING TOP */

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-top-70 {
    padding-top: 70px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-150 {
    padding-top: 150px;
}

.padding-top-200 {
    padding-top: 200px;
}

.padding-top-250 {
    padding-top: 250px;
}

.padding-top-270 {
    padding-top: 270px;
}

/* MARGIN BOTTOM */
.margin-bottom-0 {
    margin-top: 0;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-bottom-70 {
    margin-bottom: 70px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-bottom-150 {
    margin-bottom: 150px;
}

.margin-bottom-120 {
    margin-bottom: 150px;
}

.margin-bottom-200 {
    margin-bottom: 200px;
}

.margin-bottom-250 {
    margin-bottom: 250px;
}

.margin-bottom-270 {
    margin-bottom: 270px;
}

/* MARGIN TOP */
.margin-top-0 {
    margin-top: 0;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-120 {
    margin-top: 100px;
}

.margin-top-150 {
    margin-top: 150px;
}

.margin-top-200 {
    margin-top: 200px;
}

.margin-top-250 {
    margin-top: 250px;
}

.margin-top-270 {
    margin-top: 270px;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-right-left-100 {
    padding-left: 100px;
    padding-right: 100px;
}

.section-title-wrap {
}

.section-title-wrap h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 1;
}

.section-title-wrap h4 span {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 1;
    font-size: inherit;
    color: inherit;
}

.section-title-wrap h5 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    padding-left: 30px;
}

.section-title-wrap h5 span {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    font-size: 18px;
    color: inherit;
}

.section-title-wrap .title-divider {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-title-wrap .title-divider .line {
    width: 80px;
    height: 1px;
    display: inline-block;
}

.section-title-wrap .title-divider .box {

    display: inline-block;
    height: 12px;
    margin: 0 5px;
    position: relative;
    top: 5px;
    transform: rotate(130deg);
    width: 12px;
}

.page-title {
}

.page-title h2 {
    word-spacing: 15px;
    font-weight: 900;
    letter-spacing: 8px;
}

.breadcrums {
    margin-top: 4px;
}

.breadcrums p {
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
}

/* PRELOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #F7FBFC;
    z-index: 99999;
}

.preloader .preloader-gif {
    display: block;
    width: 128px;
    height: 128px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-position: center center !important;
    transform: translateY(-50%);
    background: url('../images/preloader.GIF') no-repeat;
}

.hover-overlay {
    background: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.blog-entry:hover .figure .hover-overlay,
.blog-entry:hover .figure .hover-overlay,
.location-entry:hover .figure .hover-overlay,
.location-entry:hover .figure .hover-overlay,
.feature-item:hover .figure .hover-overlay,
.feature-item:hover .figure .hover-overlay,
.listing-item:hover .figure .hover-overlay,
.listing-item:hover .figure .hover-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.hover-overlay-inner {
}

.hover-overlay-inner::before,
.hover-overlay-inner::after {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.hover-overlay-inner::before {
    border-top: 1px solid #EBC131;
    border-bottom: 1px solid #EBC131;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hover-overlay-inner::after {
    border-right: 1px solid #EBC131;
    border-left: 1px solid #EBC131;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

.blog-entry:hover .figure .hover-overlay-inner::before,
.blog-entry:hover .figure .hover-overlay-inner::after,
.location-entry:hover .figure .hover-overlay-inner::before,
.location-entry:hover .figure .hover-overlay-inner::after,
.feature-item:hover .figure .hover-overlay-inner::before,
.feature-item:hover .figure .hover-overlay-inner::after,
.listing-item:hover .figure .hover-overlay-inner::before,
.listing-item:hover .figure .hover-overlay-inner::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	PAGE TITLE
--------------------------------------------------------------------------------------------------------------------------------
*/
.page-title-wrap {
    padding: 50px 0;
}

.pagetitle-text {
    float: left;
}

.pagetitle-text h4 {
}

.pagetitle-breadcrumb {
    float: right;
}

.pagetitle-breadcrumb p {
}

.pagetitle-breadcrumb p a {
    display: inline-block;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	HEADER
--------------------------------------------------------------------------------------------------------------------------------
*/
.header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header.solid {
    position: static;
}

.header-inner {
}

.logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -15px;
}

.smallogo img {
    margin: 0 auto;
}

.nav-height2 .logo {
    margin-top: 22px;
}

.logo a {
    display: inline-block;
}

.logo a img {
    margin: 0 auto;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	HEADER TOOLBAR
--------------------------------------------------------------------------------------------------------------------------------
*/

.top-toolbar {
    padding: 30px 0 30px;
    text-align: right;
}

.top-toolbar .social-content {
    display: inline-block;
}

.top-toolbar .social-content ul.social-links {
    text-align: left;
}

.top-toolbar .social-content ul.social-links li {
    display: inline-block;
}

.top-toolbar .social-content ul.social-links li a {
}

.top-toolbar .social-content ul.social-links li a.linkedin,
.top-toolbar .social-content ul.social-links li a.twitter,
.top-toolbar .social-content ul.social-links li a.facebook,
.top-toolbar .social-content ul.social-links li a.youtube {
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin-right: 5px;
    font-size: 12px;
    border-radius: 50%;
}

.top-toolbar .social-content ul.social-links li button {
    background: none;
    border: none;
    box-shadow: none;
    text-transform: capitalize;
}

.top-toolbar .social-content ul.social-links li button.login,
.top-toolbar .social-content ul.social-links li button.register {
    padding-right: 10px;
}

.top-toolbar .top-contact-info {
    display: inline-block;
    padding-right: 10px;
}

.top-toolbar .top-contact-info ul {
    text-align: right;
}

.top-toolbar .top-contact-info ul li {
    display: inline-block
}

.top-toolbar .top-contact-info ul li.toolbar-email {
    padding-right: 10px;
}

.top-toolbar .top-contact-info ul li.toolbar-email i {
    padding-right: 10px;
}

.top-toolbar .top-contact-info ul li.toolbar-contact {
    padding-right: 15px;
}

.top-toolbar .top-contact-info ul li.toolbar-contact i {
    padding: 0 10px;
}

a.toolbar-new-listing {
    border-radius: 25px !important;
    line-height: 1;
    font-size: 12px;
    padding: 9px 20px !important;
}

.toolbar-new-listing i {
    padding: 0 5px 0 0;
    font-size: 12px;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
   MAIN NAVBAR
--------------------------------------------------------------------------------------------------------------------------------
*/

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
   STATIC HEADER
--------------------------------------------------------------------------------------------------------------------------------
*/

.static-section {
    background-image: url('../images/slider/static-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 720px;
    /* (img-height / img-width * container-width) */
    /* (853 / 1280 * 100) */
}

.static-section .container {
    min-height: inherit;
    position: relative;
}

.static-header-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 50px;
}

.static-header-text h1 {
    font-size: 80px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 10px;
}

.static-header-text h1 span {
    font-size: inherit;
    line-height: 1;
    text-transform: inherit;
    font-weight: inherit;
}

.static-section h4,
.static-section h2 {
    letter-spacing: 2px;
    line-height: 1;
}

.static-section h4 span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
}

.static-section h2 span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
   SEARCH FORM
--------------------------------------------------------------------------------------------------------------------------------
*/

#search-form {
}

.search-form-wrap {
    padding: 50px 40px;
    position: relative;
    top: -50px;
    z-index: 100;
}

.search-form-wrap form {
}

.search-form-wrap form .input-field-wrap {
    margin-right: 20px;
    width: 330px;
}

.search-form-wrap form .input-field-wrap input.search-form-input {
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    font-family: 'Montserrat';
    text-transform: capitalize;
    padding: 20px;
}

.search-form-wrap form .select-field-wrap {
    margin-right: 20px;
    width: 250px;

}

.search-form-wrap form .select-field-wrap select.search-form-select {
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding: 0 0 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    box-shadow: none;
    border: none;
    color: #999;

}

.search-form-wrap form .select-field-wrap select.search-form-select .selected {
}

.search-form-wrap form .select-field-wrap select.search-form-select .options {
    padding: 15px 20px;
    font-size: 13px;
    font-family: 'Montserrat', serif;
    border-top: 1px solid #f7f7f7;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.search-form-wrap form .select-field-wrap select::-ms-expand { /* for IE 11 */
    display: none;
}

.search-form-wrap form .submit-field-wrap {
    width: 200px;
}

.search-form-wrap form .submit-field-wrap input.search-form-submit {
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    box-shadow: none;
    border: none;
}

/* SEARCH FORM 2  */

#search-form2 {
}

.search-form-wrap2 {
    padding: 20px;
    position: relative;
    top: 0;
    z-index: 100;
    border-radius: 100px;
}

.search-form-wrap2 form {
}

.search-form-wrap2 form .input-field-wrap {
    margin-right: 2%;
    width: 32%;
    border-radius: 30px;
}

.search-form-wrap2 form .input-field-wrap input.search-form-input {
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding: 20px;
    border: none;
    border-radius: 30px;
}

.search-form-wrap2 form .select-field-wrap {
    margin-right: 2%;
    width: 22%;
    border-radius: 30px;
}

.search-form-wrap2 form .select-field-wrap select.search-form-select {
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    font-family: 'Montserrat';
    text-transform: capitalize;
    padding: 0 0 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    box-shadow: none;
    border: none;
    color: #999;
    border-radius: 30px;

}

.search-form-wrap2 form .select-field-wrap select.search-form-select .selected {
}

.search-form-wrap2 form .select-field-wrap select.search-form-select .options {
    padding: 15px 20px;
    font-size: 13px;
    font-family: 'Montserrat';
    border-top: 1px solid #f7f7f7;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.search-form-wrap2 form .select-field-wrap select::-ms-expand { /* for IE 11 */
    display: none;
}

.search-form-wrap2 form .submit-field-wrap {
    width: 18%;
    border-radius: 30px;
}

.search-form-wrap2 form .submit-field-wrap input.search-form-submit {
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: none;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	CATEGORY STYLING
--------------------------------------------------------------------------------------------------------------------------------
*/

.categories-section .container {
    overflow: hidden;
}

.categories-section .owl-carousel {
    overflow: visible;
}

.categories-section {
}

.category-section-wrap {
}

.category-section-wrap.cat-style-1 {
}

.category-section-wrap.cat-style-2 {
}

.category-section-wrap .cat-wrap {
    padding: 34px 30px;
    margin-bottom: 30px;
}

.category-section-wrap .cat-wrap h5 {
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    position: relative;
}

.category-section-wrap .cat-wrap h5 i {
    position: absolute;
    right: 0;
    line-height: 24px;
    font-size: 24px;
}

.category-section-wrap .cat-wrap .cat-list-wrap {
    padding-top: 13px;
}

.category-section-wrap .cat-wrap .cat-list-wrap ul.cat-list {
}

.category-section-wrap .cat-wrap .cat-list-wrap ul.cat-list li {
    margin-top: 11px;
}

.category-section-wrap .cat-wrap .cat-list-wrap ul.cat-list li a {
    text-align: left;
    text-transform: capitalize;
    position: relative;
}

.category-section-wrap .cat-wrap .cat-list-wrap ul.cat-list li a span {
    position: absolute;
    right: 0;
}

/* cat style 2 */
.category-section-wrap.cat-style-2 .cat-wrap {
    margin-bottom: 30px;
    padding: 25px 30px;
}

.category-section-wrap.cat-style-2 .listing-border-bottom {
    margin-bottom: 30px;
}

.category-section-wrap.cat-style-2 .cat-wrap .cat-list-wrap ul.cat-list li {
    margin-top: 8px;
}

.category-section-wrap.cat-style-2 .cat-wrap h5 {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 16px;
}

.category-section-wrap.cat-style-2 .cat-wrap h5 i {
    position: relative;
    margin-right: 15px;
    line-height: 40px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

/* cat style 3 */
.category-section-wrap.cat-style-3 .cat-wrap {
    margin-bottom: 30px;
    padding: 20px;
}

.category-section-wrap.cat-style-3 .cat-wrap-inner {
    margin-bottom: 0;
    padding: 30px 30px 25px;
    border: 1px solid #eee;
}

.category-section-wrap.cat-style-3 .main-wrap .listing-border-bottom {
    margin-bottom: 30px;
    opacity: 0;
}

.category-section-wrap.cat-style-3 .main-wrap:hover .listing-border-bottom {
    opacity: 1;
}

.category-section-wrap.cat-style-3 .cat-wrap h5 a {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 16px;
    margin: 16px 0 10px;
    text-align: center;
}

.category-section-wrap.cat-style-3 .cat-wrap p {
    padding: 0 20px;
}

.category-section-wrap.cat-style-3 .cat-wrap p i {
    position: relative;
    margin-right: 0;
    font-size: 24px;
    text-align: center;
}

/* nav control  */
.owl-controls {
}

.owl-nav {
}

.owl-prev {
}

.owl-next {
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	FEATURE LISTINGS
--------------------------------------------------------------------------------------------------------------------------------
*/

.owl-carousel {
    display: block !important;
    overflow: hidden;
}

.owl-carousel .col-md-12, .col-sm-12, .col-xs-12 {
}

.owl-carousel .owl-item {
}

.owl-stage {
}

.feature-item {
    overflow: hidden;
}

.feature-item .figure {
    position: relative;
}

.feature-item .figure img {
    transition: all 0.4s ease;
}

.feature-item:hover .figure img {
    transition: all 0.4s ease;
    transform: scale(1.05);
}

.feature-item .figure .feature-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
    padding: 10px;

}

.feature-item .figure .feature-overlay .feature-overlay-inner {
    height: 100%;
}

.feature-item .figure .feature-overlay .feature-overlay-inner .overlay-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.item-love {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 100;
}

.item-love a {
    position: relative;
}

.item-love a i {
    position: absolute;
}

.item-love a i.fa-heart {
    opacity: 0;
}

.item-love a i.fa-heart-o {
    opacity: 1;
}

.item-love a:hover i.fa-heart {
    opacity: 1;
}

.item-love a:hover i.fa-heart-o {
    opacity: 0;
}

.feature-item .figure .feature-overlay .feature-overlay-inner .overlay-content ul.feature-links {
}

.feature-item .figure .feature-overlay .feature-overlay-inner .overlay-content ul.feature-links li {
    display: inline-block;
    margin-left: 8px;
}

.feature-item .figure .feature-overlay .feature-overlay-inner .overlay-content ul.feature-links li a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    line-height: 46px;
    font-size: 16px;
}

.feature-item .figure .feature-overlay .feature-overlay-inner .overlay-content ul.feature-links li:first-child {
    margin-left: 0;
}

.feature-item .figure .feature-overlay .feature-overlay-inner .overlay-content ul.feature-links li a:hover {
}

.feature-item .figure .feature-overlay .feature-overlay-inner .overlay-content .feature-divider {
    width: 60px;
    height: 3px;
    margin: 30px auto;
}

.feature-item .figure .feature-overlay .feature-overlay-inner .overlay-content .star-rating {
    text-align: center;
}

.score-callback .star-off.fa-star {
    font-size: 12px;
}

.score-callback .star-on.fa-star {
    font-size: 12px;
}

.feature-item .feature-content {
    padding: 14px 30px 18px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    transition: all 0.5s ease;
}

.feature-item .feature-content .feature-title {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.feature-item .figure:hover .feature-content {
    bottom: 10px;
    transition: all 0.5s ease;
}

.feature-item .feature-content .feature-title h6 a {
    letter-spacing: 0;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Montserrat';
}

.feature-item .feature-content .feature-location {
}

.feature-item .feature-content .feature-location a {
    font-family: 'Montserrat';
    text-transform: capitalize;
}

.feature-item .feature-content .feature-location a i {
    font-size: 14px;
    line-height: 14px;
    margin-right: 5px;
}

.feature-item:hover .feature-overlay {
    opacity: 1;
    transition: all 0.5s ease;
}

.feature-item .feature-meta-cat {
    display: inline-block;
    margin-bottom: 10px;
}

.feature-item .feature-meta-cat a {
    padding: 2px 15px;
    text-align: center;
}

.listing-border-bottom {
    height: 3px;
    width: 100%;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	LISTINGS SECTION
--------------------------------------------------------------------------------------------------------------------------------
*/
.add-listing-nav {
    padding: 33px 30px 31px;
}

.add-listing-nav .nav-tabs {
    border-bottom: none;
    margin-left: -20px;
    margin-right: -20px;
}

.add-listing-nav .nav-tabs > li > a {
    border: none;
    line-height: 14px;
    margin-right: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.add-listing-nav .nav-tabs > li.active > a, .add-listing-nav .nav-tabs > li.active > a:focus, .add-listing-nav .nav-tabs > li.active > a:hover {
    border: none;
}

.add-listing-nav .nav-tabs > li {
    padding: 0 20px;
}

.tab-content .tab-pane {
    position: relative;
}

.view-switcher {
}

.view-switcher ul {
    text-align: right;
    line-height: 16px;
}

.view-switcher ul li {
    text-align: right;
    display: inline-block;
    font-size: 16px;
    line-height: 14px;
}

.view-switcher ul li.gridview {
    margin-right: 5px;
    cursor: pointer;
}

.view-switcher ul li i {
    line-height: 16px;
    cursor: pointer;
}

.listing-main.gridview .style-1 {
    display: block;
}

.listing-main.gridview .style-2 {
    display: none;
}

.listing-main.listview .style-2 {
    display: block;
}

.listing-main.listview .style-1 {
    display: none;
}

.listing-wrapper .item {
    margin-bottom: 30px;
}

.listing-item {
    position: relative;
}

.listing-item .figure {
    position: relative;
    overflow: hidden;
}

.listing-item .figure img {
    transition: all 0.4s ease;
}

.listing-item:hover .figure img {
    transition: all 0.4s ease;
    transform: scale(1.05);
}

.listing-item:hover .figure .listing-content {
    transition: all 0.4s ease;
    bottom: 10px;
}

.listing-item .figure .listing-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
    padding: 10px;

}

.listing-item .figure .listing-overlay .listing-overlay-inner {
    height: 100%;
}

.listing-item .figure .listing-overlay .listing-overlay-inner .overlay-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.listing-item .figure .listing-overlay .listing-overlay-inner .overlay-content ul.listing-links {
}

.listing-item .figure .listing-overlay .listing-overlay-inner .overlay-content ul.listing-links li {
    display: inline-block;
    margin-left: 8px;
}

.listing-item .figure .listing-overlay .listing-overlay-inner .overlay-content ul.listing-links li a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    line-height: 46px;
    font-size: 16px;
}

.listing-item .figure .listing-overlay .listing-overlay-inner .overlay-content ul.listing-links li:first-child {
    margin-left: 0;
}

.listing-item .figure .listing-overlay .listing-overlay-inner .overlay-content ul.listing-links li a:hover {
}

.listing-item .figure .listing-overlay .listing-overlay-inner .overlay-content .listing-divider {
    width: 60px;
    height: 3px;
    margin: 30px auto;
}

.listing-item .figure .listing-overlay .listing-overlay-inner .overlay-content .star-rating {
    text-align: center;
}

.score-callback .star-off.fa-star {
    font-size: 12px;
}

.score-callback .star-on.fa-star {
    font-size: 12px;
}

.listing-item .listing-content {
    padding: 14px 30px 18px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    transition: all 0.4s ease;
}

.listing-item .listing-content .listing-title {
    margin-top: 10px;
}

.listing-item .listing-content .listing-title h6 a {
    letter-spacing: 0;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Montserrat';
}

.aside-layout-section .gridview .listing-item .listing-content .listing-title h6 a {
    font-size: 14px;
}

.listing-item .listing-content .listing-location {
}

.listing-item .listing-content .listing-location a {
    font-family: 'Montserrat';
    text-transform: capitalize;
}

.listing-item .listing-content .listing-location a:nth-child(2) {
    display: none;
}

.listing-item .listing-content .listing-location a i {
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
}

.listing-item:hover .listing-overlay {
    opacity: 1;
    transition: all 0.5s ease;
}

.listing-item .listing-meta-cat {
    display: inline-block;
}

.listing-item .listing-meta-cat a {
    text-align: center;
    padding: 2px 15px;
}

.listing-item .list-style-content .listing-meta-cat a {
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding: 2px 15px;
    text-align: center;
    width: 50px;
}

.listing-border-bottom {
    height: 3px;
    width: 100%;
}

.listing-disc {
    display: none;
}

/* list view styling */

.listview .item {
    width: 100%;
}

.listview .listing-item {
    padding: 20px;
}

.listview .listing-item .figure {
    max-width: 270px;
    float: left;
}

.listview .three-column .listing-item .figure {
    max-width: 370px;
}

.listview .listing-item .listing-content.list-style-content {
    float: left;
    padding: 0 0 0 30px;
}

.listview .three-column .listing-content.list-style-content {
    max-width: 67%;
}

.listview .listing-item .listing-meta-cat {
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
}

.listview .listing-item .listing-content .listing-title {
    display: inline-block;
    padding-left: 20px;
}

.listview .listing-item .listing-content .listing-title h6 a {
    font-size: 18px;
}

.listview .listing-item .listing-content .listing-location {
    margin-top: 20px;
}

.listview .star-rating {
    margin-top: 25px;
}

.listview .listing-disc {
    display: block;
}

.listview .listing-item .listing-content .listing-location a:nth-child(1) {
}

.listview .listing-item .listing-content .listing-location a:nth-child(2) {
    display: block;
}

.listing-content.list-style-content {
    position: relative;
}

.aside-layout-section .listview .item:nth-child(6),
.aside-layout-section .listview .item:nth-child(7),
.aside-layout-section .listview .item:nth-child(8),
.aside-layout-section .listview .item:nth-child(9) {
    display: none;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	BUTTON STYLING
--------------------------------------------------------------------------------------------------------------------------------
*/

.btn-1 {
    text-align: center;
}

.btn-2 {
    text-align: center;
    margin-bottom: 10px;
}

.btn-2 a {
    border-radius: 2px;
    color: #fff;
    background-color: #333;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
    padding: 16px 50px;
    text-align: center;
    text-transform: uppercase;
}

.crud-btn {
    font-size: 18px;
    background-color: #ebc131;
    padding: 16px 50px;
    border-radius: 20px;
    color: #fff;
}

.crud-btn:hover {
    color: #333;
}

.btn-1 a {
    border-radius: 25px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
    padding: 16px 50px;
    text-align: center;
    text-transform: uppercase;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	 CONTACT  STYLING
--------------------------------------------------------------------------------------------------------------------------------
*/
.info-box {
    padding: 30px;
    margin-bottom: 30px;
}

.info-box .info-icon {
    text-align: center;
}

.info-box .info-icon i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    border-radius: 50%;
    text-align: center;
}

.info-box .info-content {
}

.info-box .info-content .info-title {
    margin-top: 20px;
}

.info-box .info-content .info-title h6 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.info-box .info-content .info-disc {
    margin-top: 10px;
}

.info-box .info-content .info-disc p {
    text-align: center;
}

/* contact form */

.contact-form {
}

.contact-form input {
    margin-bottom: 30px;
    width: 100%;
}

.contact-form input[placeholder], .contact-form textarea[placeholder] {
    font-family: 'Montserrat';
    padding: 20px 40px;
}

.contact-form textarea {
    margin-bottom: 30px;
    width: 100%;
}

.contact-form .contact-btn {
    font-family: "Montserrat";
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
}

/* subscription */

.subscription {
    position: relative;
    top: 30px;
}

.subscribe-wrap {
}

.subscribe-text {
    padding-left: 20px;
}

.subscribe-text h4 {
    line-height: 58px;
    text-align: left;
}

.subscribe-form {
    padding-right: 20px;
}

.subscribe-form .mailchimp {
    background: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 33px;
    padding: 5px;
    text-align: right;
}

.subscribe-form .subs-field {
    background: none;
    border: medium none;
    padding: 15px;
    width: 75%;
    border-radius: 35px;
}

.subscribe-form .subs-btn {
    border: medium none;
    border-radius: 35px;
    box-shadow: none;
    padding: 15px;
    width: 24%;
    text-transform: uppercase;
    font-size: 13px;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	GOOGLE MAP STYLING
--------------------------------------------------------------------------------------------------------------------------------
*/

#map {
    height: 450px;
    width: 100%;
}

.infobox-wrap {
    width: 340px;
    padding: 10px 5px;
}

.infobox-wrap .infobox-figure {
    width: 150px;
    float: left;
}

.infobox-wrap .infobox-content {
    width: 180px;
    float: left;
    padding-left: 15px;
    text-align: left;
}

.infobox-wrap .infobox-content h5 {
    text-align: left;
}

.infobox-wrap .infobox-content .address p {
    text-align: left;
}

.infobox-wrap .infobox-rattings {
    margin: 10px 0 15px;
}

.infobox-wrap .infobox-rattings i {
    margin-right: 2px;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	FOOTER STYLING
--------------------------------------------------------------------------------------------------------------------------------
*/


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.footer-copyright {
}

.footer-copyright p {
    text-align: left;
    line-height: 26px;
}

.footer-copyright p a {
    display: inline-block;
}

.footer-bottom {
    padding-top: 20px;
}

.footer-main {
}

.footer-logo {
}

.footer-logo a {
}

.footer-logo a img {
    width: auto;
}

.footer-intro {
    margin-top: 15px;
}

.footer-intro p {
    text-align: left;
    margin-bottom: 10px;
    max-width: 285px;
}

.footer-intro a {
    text-align: left;
    text-transform: uppercase;
}

.footer-widget-title {
    margin-bottom: 30px;
}

.footer-widget-title h5 {
    text-align: left;
    letter-spacing: 1px
}

.footer-widget-title h5:before {
    content: "|";
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    background: #fff;
    position: relative;
    top: -2px;
    margin-right: 10px;
}

.footer-recent-post-widget {
    margin-bottom: 30px;
}

.footer-recent-post {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #222;
}

.footer-recent-post-figure {
    float: left;
    width: 100px;
}

.footer-recent-post-content {
    float: left;
    margin-left: 20px;
    width: 250px;
}

.footer-recent-post-title {
}

.footer-recent-post-title a {
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    line-height: 1;
}

.footer-recent-post-disc {
}

.footer-recent-post-disc p {
    text-align: left;
    font-size: 13px;
    text-transform: capitalize;
    margin-top: 5px;
}

.footer-recent-post-caption {
}

.footer-recent-post-caption p.date {
    text-align: left;
}

.footer-flikr-widget {
}

.footer-flikr-widget ul.flikr-list {
    margin-left: -7px;
    margin-right: -7px;
}

.footer-flikr-widget ul.flikr-list li {
    width: 33.3333%;
    padding: 0 7px;
    margin-bottom: 14px;
    float: left;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	LISTING SINGLE
--------------------------------------------------------------------------------------------------------------------------------
*/

.score-callback {
    font-size: 13px;
}

.detail-rating {
    margin-top: 30px;
}

.shop-detail-disc-review {
}

.listing-single .listing-main-content .score-callback {
    margin-top: -12px;
}

.listing-single .listing-main-content .score-callback .star-on.fa-star,
.listing-single .listing-main-content .score-callback .star-off.fa-star {
    font-size: 20px;
}

.listing-single {
}

.single-listing-scroller {
}

.cycle-slideshow {
    position: relative;
}

.listing-main-content {
    bottom: 5px;
    padding: 20px 30px;
    position: absolute;
    text-align: left;
    width: calc(100% - 10px);
    z-index: 1000;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.cycle-slideshow .cat-tag {
    position: absolute;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    border-radius: 50%;
    text-align: center;
    top: 30px;
    left: 30px;
    z-index: 1000;
}

.listing-main-content h4 {
    text-align: left;
}

.listing-main-content p {
    text-align: left;
    display: inline-block;
}

.listing-main-content p i {
    margin-right: 10px;
}

.listing-main-content .social {
    position: absolute;
    right: 30px;
    bottom: 26px;
}

.listing-main-content .social ul {
    margin: 0 -5px;
}

.listing-main-content .social ul li {
    display: inline-block;
    padding: 0 5px;
}

.listing-main-content .social ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    display: block;
    border-radius: 50%;
}

#adv-custom-pager {
    padding: 30px;
}

#adv-custom-pager a {
    margin-left: 18px;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#adv-custom-pager a:first-child {
    margin-left: 0;
}

#adv-custom-pager a > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.tabs {
    list-style: none;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tabs .tab-link {
    background: #fff;
    padding: 30px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.tabs .tab-link i {
    width: 33px;
    height: 33px;
    line-height: 33px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 0 auto 10px;
    font-size: 16px;
}

.listing-single .tabs .tab-link.current {
}

.listing-single .tabs .tab-link .link-top {
    height: 2px;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
}

.listing-single .tabs .tab-link:hover .link-top {
    height: 2px;
    width: 100%;
    opacity: 1;
}

.listing-single .tabs .tab-link.current .link-top {
    height: 2px;
    width: 100%;
    opacity: 1;
}

.listing-single .tab-content {
    display: none;
    padding: 30px;
    background: #fff;
}

.tab-content h5 {
    text-align: left;
    letter-spacing: 2px;
}

.tab-content p {
    text-align: left;
    margin-top: 20px;
}

.tab-content.current {
    display: inherit;
}

.listing-contact-detail-wrap {
    padding: 30px;
    background: #fff;
    margin: 30px 0;
}

.listing-contact-section-title {
}

.listing-contact-section-title h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: left;
}

.listing-contact-section-table {
    margin-top: 30px;
}

.listing-contact-table-field {
    padding: 5px 0;
    background: #f9f9f9;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 6px;
}

.listing-contact-table-field ul {
}

.listing-contact-table-field ul li {
    text-align: left;
    display: inline-block;
    padding: 10px 30px;
}

.listing-contact-table-field ul li.info {
    width: 33%;
    border-right: 1px solid #eee;
}

.listing-contact-table-field ul li.details {
    width: 66.5%;
}

.listing-owner-section {
    padding: 30px;
    background: #fff;
}

.listing-owner-section-title {
}

.listing-owner-section-title h5 {
    letter-spacing: 2px;
    font-weight: 400;
    text-align: left;
}

.listing-owner-wrapper {
    padding: 15px;
    background: #f9f9f9;
    margin-top: 30px;
    border-radius: 4px;
}

.listing-owner-figure {
    width: 200px;
}

.listing-owner-content {
    width: 570px;
    padding-left: 20px;
    padding-top: 30px;
    margin: -5px 0;
    position: relative;
}

.listing-owner-content a {
    text-align: left;
    padding: 5px 0;
}

.listing-owner-content a i {
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 20px;
    background: #ccc;
}

.listing-owner-content a:hover i {
    background: #ebc131;
}

.listing-owner-content a.user {
}

.listing-owner-content a.contact-number {
}

.listing-owner-content a.owner-adress {
}

.listing-owner-content a.view-profile {
    position: absolute;
    right: 15px;
    top: 50%;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: -15px;
}

.listing-owner-content a.view-profile:hover {
    color: #333;
}

/* single listing feature section*/

.listing-feature-section {
    padding: 34px 30px 10px;
    margin-bottom: 30px;
}

.listing-feature-section-title {
}

.listing-feature-section-title h5 {
    text-align: left;
}

.listing-feature-wrapper {
    margin-top: 23px;
}

.feature-field {
    border-radius: 4px;
    padding: 12px 15px 12px;
    margin-bottom: 30px;
}

.feature-field i {
    display: inline-block;
    margin-right: 15px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
}

.feature-field p {
    display: inline-block;
}

/* single listing feature section*/
.listing-video-section {
    padding: 34px 30px 40px;
    margin-bottom: 30px;
}

.listing-video-section-title {
}

.listing-video-section-title h5 {
    text-align: left;
}

.listing-video-wrapper {
    margin-top: 23px;
}

.video {
    position: relative;
}

.video-btn {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    border-radius: 50%;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
}

.video-btn a {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    font-size: 24px;
    height: 70px;
    line-height: 70px;
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
    width: 70px;
}

.video-btn i {

}

/* listing options*/

.print-options {
    padding: 0 20px;
}

.print-options ul {
    text-align: right;
    margin: 0 -3px;
}

.print-options ul li {
    display: inline-block;
    padding: 0 3px;
}

.print-options ul li a {
    padding: 12px 15px;
    border-radius: 4px;
}

.print-options ul li a i {
    padding-right: 7px;
}

/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	LISTING BOOTSTRAP MODALS
--------------------------------------------------------------------------------------------------------------------------------
*/
.listing-modal-1.modal-dialog {
    width: 395px;
}

.listing-modal-1 .modal-content {
    border-radius: 0;
    padding: 40px 30px;
    background: #f7fbfc;
}

.listing-modal-1 .modal-header {
    border-bottom: none;
    padding: 0;
}

.listing-modal-1 .modal-header .modal-title {
    text-align: left;
    line-height: 1;
    color: #08c2f3;
}

.listing-modal-1 .modal-header .close {
    line-height: 1;
    margin-top: 3px;
    color: #08c2f3;
    opacity: 1;
    font-size: 24px;
}

.listing-modal-1 .modal-body {
    padding: 30px 0 0 0;
}

.listing-login-form {
}

.listing-form-field {
    position: relative;
}

.listing-form-field i {
    position: absolute;
    right: 0;
    width: 47px;
    height: 47px;
    top: 0;
    border-left: 1px solid #eee;
    line-height: 47px;
    text-align: center;
}

.listing-form-field input {
    width: 100%;
    text-transform: capitalize;
}

.listing-form-field input.form-field {
    padding: 15px 15px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    box-shadow: none;
}

.listing-form-field textarea.form-field {
    padding: 15px 15px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    box-shadow: none;
    width: 100%;
}

.listing-form-field select.form-field {
    padding: 15px 15px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    box-shadow: none;
    width: 100%;
}

.listing-form-field .checkbox {
}

.listing-form-field a {
    display: inline-block;
    float: right;
    text-align: right;
    position: relative;
    top: -4px;
}

.listing-register-form .listing-form-field a {
    float: none;
    top: -8px;
    color: #08c2f3;
}

.listing-form-field button {
    border: none;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
}

.listing-form-field input.submit {
    border: none;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
}

label {
    display: inline;
}

label.checkbox-lable {
    position: relative;
    top: -8px;
    color: #999;
}

.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    border: 2px solid #08c2f3;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: -4px;
}

.regular-checkbox:checked + label:after {
    content: "\2714";
    font-size: 12px;
    position: absolute;
    top: -2px;
    color: #08c2f3;
    left: 0;

    right: 0;
    line-height: 20px;
    text-align: center;
}

.bottom-links {
}

.bottom-links p {
    text-transform: capitalize;
    text-align: left;
}

.bottom-links p a {
    display: inline-block;
    margin-left: 10px;
    color: #08c2f3;
}

.listing-form-social {
    margin-top: 20px;
}

.listing-form-social ul {
    margin: 0 -5px;
    text-align: left;
}

.listing-form-social ul li {
    display: inline-block;
    padding: 0 3px;
}

.listing-form-social ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
}

.listing-form-social ul li a i {
}



