<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Blog</title>
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css">
    <script src="/resources/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/resources/sweetalert/sweetalert.css">
    <script src="/resources/sweetalert/sweetalert.min.js"></script>
    <style>
        .comment {
            margin-bottom: 10px;
        }
    </style>
    {% block header %}
    {% endblock %}
</head>
<body>
<div id="blog_title">
    <br>
    <h2 class="text-center">The Ultimate Blog</h2>
</div>


<ul class="list-inline text-center">
    <li><a href="/"> Home </a></li>
    |
    {% if user %}
        <li><a href="/newpost"> New Post</a></li> |
        <li><a href="/myprofile"> My Profile</a></li> |
        <li><a href="/logout"> Logout</a></li>
    {% else %}
        <li><a href="/signup"> Sign Up</a></li> |
        <li><a href="/login"> Login </a></li>
    {% endif %}
</ul>
<hr>
{% block content %}{% endblock %}
</body>
</html>