{% extends "base.html" %}
{% block title %} {{ post.subject }}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h2>Edit Post</h2>
        <hr/>
        <form method="POST">
            <label>
                <div>Title</div>
                <input type="text" name="subject" value="{{ post.subject }}">
            </label>
            <br/>
            <br/>
            <label for="desc">
                <div>Description</div>
                <textarea name="content" cols="100" rows="10">{{ post.content }}</textarea>
            </label>

            <div>
                <a href="/{{ post.key().id() }}" class="btn btn-primary">Cancel</a>
                <input class="btn btn-success" type="submit">
            </div>
        </form>
        <br>

        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    </div>
{% endblock %}