{% extends 'base.html' %}
{% block content %}
    <!--================================PAGE TITLE==========================================-->
    <div class="page-title-wrap padding-top-30 margin-bottom-10">
        <!-- section title -->
        <div class="container">
            <div class="pagetitle-text">
                <h4 class="white">Add Item</h4>
            </div>
        </div>
    </div><!-- section title end -->

    {{ super() }}

    <section class="categories-section padding-bottom-40">
        <div class="container"><!-- section container -->
            <div class="modal-body">
                <div class=" listing-login-form">
                    <form method="post">
                        <div class="listing-form-field">
                            <input class="form-field bgwhite" type="text"
                                   name="item_name" placeholder="Item name"/>
                        </div>
                        <div class="listing-form-field">
                            <textarea class="form-field bgwhite"
                                      name="item_desc" cols="30"
                                      rows="10"
                                      placeholder="Item Description"></textarea>
                        </div>
                        <div class="listing-form-field">
                            <select name="cat_id" class="form-field"
                                    style="height: 30pt;">
                                <option value="invalid" disabled selected>
                                    Category
                                </option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token() }}">
                        <div class="listing-form-field">
                            <input class="form-field submit bgblue-1"
                                   type="submit" value="Add Item"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}